<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="user" value="liza62" />
    <add key="key" value="cJCAUzajaqnsDvN66gNq" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="ProfileUrl" value="https://hellotest1.neyber.co.uk" />
    <add key="CorporateUrl" value="https://neyberweb-testenv1.neyber.co.uk" />
    <add key="ApolloUrl" value="https://testenv1.neyber.co.uk" />
    <add key="browser" value="Chrome" />
    <add key="EmailCheckDelay" value="10" />
    <add key="EmailCheckAttempts" value="6" />
    <add key="ImplicitWaitTimeOut" value="20" />
    <add key="PageLoadTimeOut" value="5" />
    <add key="HeraclesSAMLUrl" value= "https://testenv0.neyber.co.uk/heracles/saml/login" />
    <add key="PMASHeraclesUrl" value = "https://testenv0.neyber.co.uk/heracles/identity/policemutual" />
  </appSettings>

 
  <runtime>
    <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

    <capabilities>
    <single>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
    </single>
    <local>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="false" />
    </local>
    <parallel>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.debug" value="false" />
    </parallel>
  </capabilities>

  <environments>
    <chrome>
      <add key="browser" value="chrome" />  
    </chrome>
    <firefox>
      <add key="browser" value="firefox" />  
    </firefox>
    <safari>
      <add key="browser" value="safari" />  
    </safari>
    <ie>
      <add key="browser" value="ie" />  
    </ie>
  </environments>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
        <dependentAssembly>
    
            <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.32.2.0" newVersion="1.32.2.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.32.2.0" newVersion="1.32.2.0" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
</configuration>